*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

main{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

header{
    width: 100%;
    height: 120px;
    background-color: lightslategrey;
}

header h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 20px;
}

section{
    width: 100%;
    height: fit-content;
    padding: 10px;
}

section .block{
    width: 100%;
    min-height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
    border-bottom: 1px solid ;
}

section .block .extratext{
    display: none;
}

section .block:last-child{
    border-bottom: none;
}

section .img{
    width: 100%;
    border-bottom: 1px solid;
}

section img{
    width: 350px;
    padding: 10px;
}

section .img-text{
    text-align: center;
}

footer{
    width: 100%;
    height: 90px;
    padding: 10px;
    text-align: center;
    background-color: lightslategrey;
}

footer .icons{
    margin: 10px;
    font-size: 20px;
    padding: 5px;
}

footer .icons:hover{
    cursor: pointer;
    color: mediumblue;
}

footer .socialmedia-text{
    margin: 10px 0;
}
@media only screen and (min-width: 400px){

    header{
        height: 80px;
    }

    img{
        width: 400px;
        padding: 10px;
       margin: 0 20px;
    }
}

@media only screen and (min-width:500px){

    .img{
        display: flex;
    }

    .img-text{
        align-self: center;
    }
}


@media only screen and (min-width:600px){

    img{
        width: 450px;
        padding: 10px;
        margin-right: 20px;
    }

    .img-text{
        margin-left: 20px; 
    }
}

@media only screen and (min-width: 800px){
   section{
       display: flex;
   }

    section #box1{
        width: 40%;
        border-bottom: none;
        display: inline-block;
        margin: 0 5px 0;
    }

    section .block .extratext{
        display: block;
    }

    .aside{
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    section #box3{
        width: 25%;
    }

    section .img{
        display: block;
        border-bottom: none;
    }

    section img{
        width: max-content;
    }

    section .img-text{
        display: none;
    }

    footer{
        height: 100px;
    }


}